body {
    background: black;
    font-family: 'Arial', sans-serif;
    /* background-color: #0f64a0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  input[type="text"] {
    width: 90%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  input[type="text"]:focus {
    border-color: #007bff;
    
  }
  button {
    padding: 12px 25px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  button:hover {
    background-color: #0056b3; 
  }
  .fotter{
      margin-top: 40px;
  font-size: 14px;
  color: #888;
  }
  .fotter a {
      color: #ff6f61;
      text-decoration: slateblue;
  }
  .result {
    margin-top: 20px;
    display: none; /* Sembunyikan hasil sampai data siap */
  }
  .result a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  .result a:hover {
    background-color: #218838;
  }
  .error {
    color: #dc3545;
    margin-top: 10px;
    font-size: 14px;
  }
  .loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #007bff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
    display: none; /* Sembunyikan loader sampai dibutuhkan */
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* Gaya untuk taskbar */
  h1 {
     color:rgb(109, 133, 206); 
  }
  .taskbar {
    text-align: center;
    position: fixed;
    bottom:0;
    left: 0;
    width: 100%;
    background-color: black;
    color: #fff;
    padding: 15px 0;
    font-size: 14px;
  }
  .taskbar a {
    color: #007bff;
    text-decoration: none;
    margin: 5px;
  }
  .taskbar .ig {
    color: tomato;
  }
  
  .taskbar a:hover {
    text-decoration: underline;
  }
  .topnav {
overflow: hidden;
background-color: #333;
}
.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 26px;
text-decoration: none;
font-size: 17px;}
.myVideo {
  width: 100px;
/* position: fixed; */
display: block;
right: 0;
bottom: 0;
min-width: 100%; 
min-height: 100%;
}
.container {
position: fixed;
bottom: 40%;
background: rgba(0, 0, 0, 0.5);
padding: 5px;
border-radius: 25px;
padding: 35px;
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
text-align: center;
width: 300px;
}